*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("./Imágenes/fondoMaderaT.png");
    background-size: cover;
}

p::selection{ /*Nuevo 9-6-21*/
    color: #ff369b;
}
header{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    background-color: #fd91af;
    position:fixed; 
    z-index: 1;
}
footer p{
    margin-top: 3vh;
    text-align: center;
}
nav{
    width: 80%;   
    position:fixed; 
}
.navLinks{
    display: flex; 
    list-style: none;
    margin: auto;
    justify-content: space-around;  
}
.navLink{
    color: grey;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
    padding: 1vh 2vh;
    margin: 1vh;
}
.navLink:hover{
    font-weight: bolder;
    color: hotpink;
    background-color: grey;
}
.presentacion{
    display: flex;
    width: 95%;
    margin: auto;
    padding-bottom: 10vh;
    min-height: 100%;
    align-items: center;  
}
.textoIntroduccion{
    flex: 2;
    text-align: center;
}
.textoIntroduccion h1{
    font-size: 50px;
    font-weight: 500;    
    margin-bottom:5vh;
    margin-top:15vh;
}
#inicial{
    color: #ff369b;
}
#recetasDulces{
    color: #00acc1;
}
#recetasSaladas{
    color: #000066;
}

.textoIntroduccion p{
    margin-left: 20vh;
    margin-right: 20vh;
    font-size: 22px;
    color:#3d4849;
    line-height: 30px;
}
.introduccion{
    flex:1;  
}
.presentacion2{
    display: flex;
    flex-flow: row nowrap;
    max-width: 95%;
    margin: auto;
    height: auto;
    align-items: center;
    padding-bottom: 5vh;
}
.textoIntroduccion2{
    flex: 2;
    text-align: left;
    height: 100%;    
    word-break: normal; 
    padding-right: 3vh;  
}
.textoIntroduccion2 h2{    
    font-size: 30px;
    font-weight: 500;
    color: #00b8d4; 
}
.textoIntroduccion2 p{
    
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
    color:#676767;
}
.imagenIntroduccion2{
    flex: 1;   
    text-align: center;
    height: 100%;
}
.imagenIntroduccion2 img{
    overflow: auto;
    width: 400px;
    min-height: auto;
    border: 20px solid #006064;
      
    filter: opacity(50%);  
}
.imagenIntroduccion2 img:hover{
    filter: none;
}



.textoIntroduccion4{
    flex: 2;
    text-align: left;
    height: 100%;    
    word-break: normal; 
    padding-right: 3vh;  
}
.textoIntroduccion4 h2{
    
    font-size: 30px;
    font-weight: 500;
    color: #000099; 
}
.textoIntroduccion4 p{
    
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
    color:#676767;
}
.imagenIntroduccion4{
    flex: 1;   
    text-align: center;
    height: 100%;
}
.imagenIntroduccion4 img{
    overflow: auto;
    width: 400px;
    min-height: auto;
    border: 20px solid #000099;
      
    filter: opacity(50%);  
}
.imagenIntroduccion4 img:hover{
    filter: none;
}



.presentacion1{
    display: flex;
    flex-flow: row nowrap;
    max-width: 95%;
    margin: auto;
    height: auto;
    align-items:flex-start;
    padding-bottom: 5vh;
}
.textoIntroduccion1{
    flex: 1;
    text-align: left;
    height: 100%;    
     
    word-break: normal; 
    padding-right: 3vh;  
}
.textoIntroduccion1 h2{
    
    font-size: 30px;
    font-weight: 500;
    color: #ff69b4;
}
.textoIntroduccion1 p{
    
    margin-top: 10px;
    font-size: 18px;
    line-height: 30px;
    color:#676767;
}


.imagenIntroduccion1{
    flex: 2;   
    text-align: left;
    align-items: center;
    height: 100%;
    margin: 5vh;
}
.imagenIntroduccion1 img{
    overflow: auto;
    width: 400px;
    min-height: auto;
    border-radius: 50px;
}

.imagenIntroduccion3{
    flex: 2;   
    text-align: left;
    align-items: center;
    height: 100%;
    margin: 5vh;
}
.imagenIntroduccion3 img{
    overflow: auto;
    width: 250px;
    min-height: auto;
    border-radius: 50%;
    filter: grayscale(100%);
}

.imagenIntroduccion3 img:hover{
    filter: none;
}   
aside{
    width: 100%;
    background-color: lightgrey;
    margin: auto;
    padding-left: 5vh;
}


.seccionFormulario{
    display: flex;
    width: 95%;
    margin: auto;
    padding-bottom: 10vh;
    min-height: 100%;
    align-items: center;
}

.formulario{
    
    border-radius: 5px;
    border-style: solid;
    border-width: thick;
    border-color: #999797;
    
    background-image: url("./Imágenes/fondoMadera.jpg");
    padding: 20px;
    justify-content:space-around;
    align-items: center;
    margin: auto;
    font-weight: 450; /*Nuevo 9-6-21*/
}

.formulario:hover{ /*Nuevo 9-6-21*/
    border-color:#676767;
}

input[type=text], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.formulario p{
    font-size: 18px;
    line-height: 50px;
}

input[type=submit], [type="reset"]{
    width: 30%;
    background-color: #676767;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /*Nuevo 9-6-21*/
  }

  input[type=text]:focus, [type="email"]:focus { /*Nuevo 9-6-21*/
    background-color: #fee2ef;
  }

  input[type=submit]:hover, [type="reset"]:hover {
    background-color: hotpink;
    font-weight: bolder; /*Nuevo 9-6-21*/
  }


@media screen and (max-width:800px) {
    header{
        height: 15vh;
    }
    .presentacion{
        flex-direction: column;
    }
    .introduccion{
        margin-top: 5vh;
        text-align: center;    
    }
    .imagenIntroduccion img{
        height: 80%;
    }
    .navLinks{
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }
    .navLink{
        font-size: 18px;
        font-weight: bolder;
        text-decoration: none;
        padding: 0.5vh 2vh;
        margin: 0.5vh;
    }
    .presentacion2, .presentacion1{
        flex-direction: column;
        align-items: center;
    }

    .textoIntroduccion h1{
        font-size: 35px;
        margin-bottom:3vh;
        margin-top:15vh;
    }

    .textoIntroduccion p{
        margin-left: 5vh;
        margin-right: 5vh;
        font-size: 19px;
        line-height: 25px;
    }

    .textoIntroduccion1, .textoIntroduccion2, .textoIntroduccion4 {
        text-align: center; 
        word-break: normal; 
        padding-right: 3vh;  
    }
    .textoIntroduccion1 h2, .textoIntroduccion2 h2, .textoIntroduccion4 h2 {
        font-size: 25px;
    }    
    .textoIntroduccion1 p, .textoIntroduccion2 p, .textoIntroduccion4 p {
        margin-top: 5px;
        font-size: 16px;
        line-height: 25px;
    } 

    .imagenIntroduccion1 img, .imagenIntroduccion2 img, .imagenIntroduccion4 img{
        width: 250px;
    } 
    .imagenIntroduccion3 img{
        width: 200px;
    } 
        .imagenIntroduccion2 img{
        border: 12px solid #006064;
    }
    
    .imagenIntroduccion4 img{
        border: 12px solid #000099;
    }

}




@media screen and (max-width:360px) {
    header{
        height: 15vh;
    }
    .presentacion{
        flex-direction: column;
    }
    .introduccion{
        margin-top: 5vh;
        text-align: center;    
    }
    .imagenIntroduccion img{
        height: 60%;
    }
    .navLinks{
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: space-around;
    }
    .navLink{
        font-size: 12px;
        font-weight: bolder;
        text-decoration: none;
        padding: 0.3vh 1vh;
        margin: 0.3vh;
    }
    .presentacion2, .presentacion1{
        flex-direction: column;
        align-items: center;
    }

    .textoIntroduccion h1{
        font-size: 20px;
        margin-bottom:2vh;
        margin-top:10vh;
    }

    .textoIntroduccion p{
        margin-left: 1vh;
        margin-right: 1vh;
        font-size: 14px;
        line-height: 18px;
    }

    .textoIntroduccion1, .textoIntroduccion2, .textoIntroduccion4 {
        text-align: center; 
        word-break: normal; 
        padding-right: 1vh;  
    }
    .textoIntroduccion1 h2, .textoIntroduccion2 h2, .textoIntroduccion4 h2 {
        font-size: 18px;
    }    
    .textoIntroduccion1 p, .textoIntroduccion2 p, .textoIntroduccion4 p {
        margin-top: 3px;
        font-size: 12px;
        line-height: 18px;
    } 

    .imagenIntroduccion1 img, .imagenIntroduccion2 img, .imagenIntroduccion4 img{
        width: 150px;
    } 
    .imagenIntroduccion3 img{
        width: 150px;
    } 
        .imagenIntroduccion2 img{
        border: 8px solid #006064;
    }
    
    .imagenIntroduccion4 img{
        border: 8px solid #000099;
    }

}
